---
layout: page
title: Foto Galeri
---

<!-- Container for the image gallery -->
<div class="galeri-container">

    <!-- Full-width images with number text -->
    {% for item in site.data.galeri %}
    <div class="galeri-mySlides">
      <div class="galeri-numbertext"> {{item.number}}</div>
        <img src="{{ item.src }}" style="width:100%">
    </div>
    {% endfor %}
  
    <!-- Next and previous buttons -->
    <a class="galeri-prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="galeri-next" onclick="plusSlides(1)">&#10095;</a>
  
    <!-- Image text -->
    <div class="galeri-caption-container">
      <p id="caption"></p>
    </div>
  
    <!-- Thumbnail images -->
    <div class="galeri-row">
        {% for item in site.data.galeri %}
            <div class="galeri-column">
                <img class="galeri-demo " src="{{ item.src }}" style="width:100%" onclick="currentSlide( {{item.number}} )" alt="{{ item.alt }}">
            </div>
        {% endfor %}
    </div>
      